#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;
}

#scoreText{
    font-family: "consolas", monospace;
    font-size: 60px;
}

#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    height: 40px;
    width: 80px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}